<head>
  <title>タスク一覧 || Todolist</title>
</head>

<main>
  <div class="header">
    <i class="fas fa-bars fa-2x bar-in-header"></i>
    <i class="fas fa-plus fa-2x plus-in-header"></i>
  </div>
  <div class="main tasks-index">
    <div class="container">
      <div class="index-head" >
        すべてのタスク
      </div>
      <% @tasks.each do |task| %>
        <div class="tasks-index">
          <div class="tasks-index-item">
            <i class="far fa-circle circle"></i>
            <i class="fas fa-check check"></i>
            <nobr><%= task.content %></nobr>
            <div id="task-show">
              <div id="hidden_show1">
                <p>追加日：<%= task.created_at.to_s(:datetime_jp) %></p>
                <% if task.memo != nil %>
                  <p>メモ：<%= task.memo %></p>
                <% end %>
                <p><input type="submit" value="編集" id="edit"></p>
              </div>
              <div id="editer">
                <input type="text" name="content" value="<%= task.content %>" id="edit-input">
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="manu">
        <div class="">

        </div>
      </div>

      <div class="task-new">
        <label for="label4"><i class="fas fa-plus fa-fw plus-in-index"></i> タスクを追加</label>
        <input type="checkbox" id="label4" class="checkbox">
        <div class="hidden_show2">
          <%= form_tag("/tasks/create") do %>
            <input required maxlength='100' name="content" class="task-input" placeholder="タスクを入力 例：花に水やり ">
            <p><input maxlength="200" name="memo" class="task-input" placeholder="メモを入力 例：毎日"></p>
            <p><input type="submit" value="追加" class="add-btn"></p>
          <% end %>
        </div>
    </div>
  </div>
</main>
