<!DOCTYPE html>
<head>
  <title>タスク一覧 || Todolist</title>
</head>

<main>
  <div class="header">
    <i class="fas fa-bars bar-in-header"></i>
    <i class="fas fa-user-edit" id="user-edit"></i>
  </div>
  <div class="main-tasks-index">
    <div class="container">
      <div class="index-head" >
        未完了のすべてのタスク
      </div>

      <% @tasks.each do |task| %>
        <% if task.project != "completed" %>
          <div class="tasks-index-item">
            <%= link_to("#{task.id}/completed", {method: "post"}) do %>
              <i class="far fa-circle circle" style="color: rgb(222, 222, 222)"></i>
              <i class="fas fa-check check" style="color: rgb(222, 222, 222)"></i>
            <% end %>
            <nobr id="content"><%= task.content %></nobr>
            <div id="task-show">
              <div id="hidden_show1">
                <p>追加日：<%= task.created_at.to_s(:datetime_jp) %></p>
                <p>最終更新日：<%= task.updated_at.to_s(:datetime_jp) %></p>
                <p>メモ：<%= task.memo %></p>
                <li id="editer">
                  <button id="edit-btn" class="edit-btn"><i class="fas fa-edit"></i> 編集</button>
                  <%= form_tag("/tasks/#{task.id}/edit") do %>
                    <input name="content" value="<%= task.content %>" id="edit-input" autocomplete="off" required maxlength='100' class="edit-input">
                    <input name="memo" value="<%= task.memo %>" id="edit-input" autocomplete="off" required maxlength='200' class="edit-input">
                    <input type="submit" value="完了" class="edit-complete">
                  <% end %>
                </li>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div id="task-new">
        <label for="label4" id="add-task"><i class="fas fa-plus fa-fw plus-in-index"></i> タスクを追加</label>
        <input type="checkbox" id="label4" class="checkbox-2">
        <div class="hidden_show2">
          <%= form_tag("/tasks/create") do %>
            <input required maxlength='100' name="content" class="task-input" placeholder="タスクを入力 例：どら焼きを買う"  autocomplete="off">
            <p><input maxlength="200" name="memo" class="task-input" id="memo-input" placeholder="メモを入力 例：クーポンあり" autocomplete="off"></p>
            <p><input type="submit" value="追加" id="add-btn"></p>
          <% end %>
        </div>
    </div>
  </div>
</main>
