<div class="tasks-index-item">
  <i class="far fa-circle circle" id="circle"></i>
  <i class="fas fa-check check" id="check"></i>
  <nobr id="content"><%= task-new.content %></nobr>
  <div id="task-show">
    <div id="hidden_show1">
      <p>追加日：<%= task-new.created_at.to_s(:datetime_jp) %></p>
      <p>最終更新日：<%= task-new.updated_at.to_s(:datetime_jp) %></p>
      <% if task-new.memo != nil %>
        <p>メモ：<%= task-new.memo %></p>
      <% else %>
      <% end %>
      <li id="editer">
        <button id="edit-btn" class="edit-btn"><i class="fas fa-edit"></i> 編集</button>
        <%= form_tag("/tasks/#{task.id}/edit", :remote => true) do %>
          <input name="content" value="<%= task.content %>" id="edit-input" autocomplete="off" required maxlength='100' class="edit-input">
          <input type="submit" value="完了" class="edit-complete">
        <% end %>
      </li>
    </div>
  </div>
</div>
